{% extends "base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/video_style.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row"> 
        <div class="col-sm-12">
            <div class="card text-center">
                <div class="card-header" {% include 'includes/theme.html' %}></div>
                    <h1 class="text-uppercase bg-dark mb-0" {% include 'includes/secondary_theme.html' %}>                      
                        <strong>About-Us</strong>
                    </h1>
                <div class="card-header" {% include 'includes/theme.html' %}></div>
            </div>                    
        </div>
    </div>
</div>
{% endblock %}
{% block content %}  
<div class="container">
    
</div>

<div class="container mt-3">
    
    <div class="row">
        <div class="col-sm-12">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../media/Church Exterior.JPG" class="d-block w-100 image-fluid" style="height: 550px;" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../media/Church Garden Seat.JPG" class="d-block w-100" style="height: 550px;" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../media/Church Garden.JPG" class="d-block w-100" style="height: 550px;" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../media/Church Interior (2).JPG" class="d-block w-100" style="height: 550px;" alt="...">
                </div>
            </div>
            </div>
            
        </div>
    </div>
    <div class="row mt-5">
        <hr>
        <div class="col-sm-12">
            <h3>Our Management Team</h3>
        </div><hr>
        <div class="col-sm-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0 p-2 rounded" {% include 'includes/secondary_theme.html' %}>
                    <div class="col-md-4 p-1 m-auto">
                        <img class="img-thumbnail" src="../../../media/141617001_3802969833058511_7483382620704326037_n.jpg" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Rev. Ronald Matandakufa</h5>
                            <p class="card-text">Church Minster and we can add some useful inforamtion about Ronald.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0 p-2 rounded" {% include 'includes/secondary_theme.html' %}>
                    <div class="col-md-4 p-1 m-auto">                       
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Helen Scott</h5>
                            <p class="card-text">Session Clerk:  and we can add some useful inforamtion about Helen Scott.</p>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0 p-2 rounded" {% include 'includes/secondary_theme.html' %}>
                    <div class="col-md-4 p-1 m-auto">                       
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Stuart Blackwood</h5>
                            <p class="card-text">Finance:  and we can add some useful inforamtion about Stuart Blackwood.</p>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-6">
            <hr>
            <h3 class="text-center">Who Are We ?</h3>
            <hr>
            <div class="row mb-2">
                <div class="col-sm-12 m-auto text-center">
                    <img src="../../../media/stainedglass.jpg" alt="">
                </div>
            </div>
            <hr>
            <p>The parish of the Kirk of the Holy Rood forms a part of the Falkirk Presbytery.

                The Kirk of the Holy Rood, as part of the Church of Scotland, serves the parish and community where we spread the love of God and reach out to the wider world, sharing our faith and our blessings. It is a place where faith is nurtured, supported and strengthened through hearing the word of God and through prayer, praise and Christian fellowship. Our values are Christ's values, we live as God's children, loving our neighbours and showing respect and understanding of all faiths, backgrounds and cultures.

                K.H.R. (as we call ourselves) is the parish church for the Bowhouse area of Grangemouth. We have around 300 members and extend a warm welcome to all.

                Please get in touch with us if there is any further information you require.

                Church Address: Bowhouse Road, Grangemouth FK3 0EX
            </p>
        </div>
        <div class="col-sm-6">
            <hr>
             <h3 class="text-center">Where are we coming from?</h3>
             <hr>
            <p>
                The origins of the Kirk's name go back to the reign of King David in the 12th century. The legend of the Holy Rood tells of the king's miraculous escape from injury whilst riding in the forest near Edinburgh Castle. He had gone hunting on a holy day and was confronted by a white stag, his horse threw him and he fell stunned to the ground. When he came to his senses he was holding a part of the true Cross. In gratitude he founded the monastery of the Holy Rood (or cross). Its seal depicts a stag's head with a cross between its horns.

                The land where Grangemouth now stands was controlled by the Abbey of Holy Rood until the Reformation and from this the Lord Lyon King of Arms granted the seal of the Monastery of Holy Rood to be included in the town's Coat of Arms around 1928.

                The church was opened and dedicated on 28th June 1963 - providing a Church of Scotland presence in the rapidly expanding Bowhouse area. The new church had been given an historical name. Added to that, the bell provided by the Church Extension Committee had first been cast in 1650 for Crathie Church, the Royal family's place of worship near Balmoral.

                The Kirk's stained glass windows - made in the original way from coloured pieces of old and new glass - depict, on the left window, the earliest Christian symbol of the fish, and on the right is the pelican, symbol of the Lord's atonement. It is believed that, when food is short, the female pelican will tear open her breast to feed her young - giving her life that they might live - just as Jesus gave His life on the cross for mankind.
            </p>
        </div>
        <div class="col-sm-12">
            <hr>
             <h3 class="text-center">The Kirk Today</h3>
             <hr>
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        The parish of the Kirk of the Holy Rood forms a part of the Falkirk Presbytery.

                        The Kirk of the Holy Rood, as part of the Church of Scotland, serves the parish and community where we spread the love of God and reach out to the wider world, sharing our faith and our blessings. It is a place where faith is nurtured, supported and strengthened through hearing the word of God and through prayer, praise and Christian fellowship. Our values are Christ's values, we live as God's children, loving our neighbours and showing respect and understanding of all faiths, backgrounds and cultures.

                        K.H.R. (as we call ourselves) is the parish church for the Bowhouse area of Grangemouth. We have around 300 members and extend a warm welcome to all. Reach out to us through the Contact and Visit page.

                        Old and new have now merged seamlessly and today KHR is a well-known landmark - it's unusual triangular design with a cross at it's apex - pointing members and parish to the cross - reminding us of it's reason for being there - to reach out and bring the people of the parish in - to share the joy and peace of knowing the love of a forgiving God and then to tell others the Good News. Please join us in Worship.

                        At the entrance to the church a memorial stone lies in the grass. This commemorates those who have worshipped at KHR but have now passed on. This was done as part of our Jubilee Celebrations. It is inscribed with words from Hebrews 12:1 “We have this large crowd of witnesses around us…”
                        As you come into the church at the main door you will see the embroideries on the glass panels. Skilfully sewn by ladies of the congregation and friends, they depict the history of the church and the town, together with Biblical symbols.

                        The garden was planted in the Millennium year with trees donated in memory of loved ones and as thanks for life's blessings.
                    </p>
                </div>
                <div class="col-sm-6 m-auto text-center">
                    <img src="../../../media/memorial.jpg" alt="" class="img-fluid w-100">
                </div>
            </div>
            
            
        </div>
        
    </div>
    
</div>

{% block extra_js %}    
 
    
{% endblock %}
{% endblock %}

{% block postloadjs %}

   
{% endblock %}