{% extends "base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/video_style.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row"> 
        <div class="col-sm-12">
            <div class="card text-center">
                <div class="card-header" {% include 'includes/theme.html' %}></div>
                    <h1 class="text-uppercase mb-0" {% include 'includes/secondary_theme.html' %}>                      
                        <strong >Contact-Us</strong>
                    </h1>
                <div class="card-header" {% include 'includes/theme.html' %}></div>
            </div>                    
        </div>
    </div>
</div>
{% endblock %}
{% block content %}  
<div class="container">
    
</div>

<div class="container px-4 mt-3">
    <div class="row">
        
        <div class="col-sm-12 p-3" {% include 'includes/theme.html' %}>
                <div>
                    <h3><i class="fas fa-edit p-1" {% include 'includes/theme.html' %}></i> Write To Us!</h3>
                    <hr>
                </div>
                <form  method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="mb-1"><i class="fas fa-male p-1" {% include 'includes/theme.html' %}></i> Name:</label>
                        <input type="text" class="form-control form-control-sm" name="full_name" placeholder="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="mb-1"><i class="fas fa-envelope-square p-1" {% include 'includes/theme.html' %}></i> Email:</label>
                        <input type="email" class="form-control form-control-sm" name="email" placeholder="your_email@anymailservice.com" aria-describedby="emailHelp" required>
                        <div class="form-text text-success">We'll never share your email with anyone else.</div>
                    </div>                        
                    <div class="mb-3 form-check p-0">
                        <label for="message" class="mb-1"><i class="far fa-comments p-1" {% include 'includes/theme.html' %}></i> Message:</label>                
                        <textarea class="form-control form-control-sm" name="message" placeholder="Leave a message here" id="floatingTextarea" required></textarea>                  
                    </div>
                    <button type="submit" class="btn btn-sm" {% include 'includes/secondary_theme.html' %}>SUBMIT</button>
                </form>   

        </div>
        
    </div>    
    <div class="row">
       <div class="col-sm-12 col-md-12 col-lg-6">
           <div class="row">
                <div class="col-sm-12 map-col text-center m-auto">
                    <hr>
                    <h3 class="mt-3"><i class="far fa-address-card p-1" {% include 'includes/theme.html' %}></i> Contact Details</h3>
                    <hr class="home-page-heading-hr-bottom">
                    <div class="row">
                        <div class="col-sm-12 text-start">                            
                            <h6><i class="fas fa-male p-1" {% include 'includes/theme.html' %}></i> Church Minister</h6><hr>
                            <p class="p-0 m-0"><strong>Name:</strong>Ronald Matandakufa</p>
                            <p class="p-0 m-0"><strong>Email:</strong> RMatandakufa@churchofscotland.org.uk</p>
                            <p class="p-0 m-0"><strong>Mobile:</strong> 07486052954</p>   
                            <hr>                  
                        </div>
                        <div class="col-sm-12 text-start">                            
                            <h6><i class="fas fa-male p-1" {% include 'includes/theme.html' %}></i> Church Secretary</h6><hr>
                            <p class="p-0 m-0"><strong>Name:</strong> Some one</p>
                            <p class="p-0 m-0"><strong>Email:</strong> someone@churchofscotland.org.uk</p>
                            <p class="p-0 m-0"><strong>Mobile:</strong> 07486052954</p>   
                            <hr>                  
                        </div>
                    </div>
                </div>
            </div>
       </div>
       <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="row map-row">
                <div class="col-sm-12 map-col text-center">
                    <hr>
                    <h3 class="mt-3"><i class="fas fa-church p-1" {% include 'includes/theme.html' %}></i> Kirk Of The Holy Rood</h3>
                    <hr class="home-page-heading-hr-bottom">
                </div>
            </div>
            <div class="row">    
                <h6 class="mb-3"><i class="fas fa-map-pin p-1" {% include 'includes/theme.html' %}></i> Church Location</h6><hr>    
                <div class="col-sm-12 p-0 m-0 text-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8922.973272294328!2d-3.7170306!3d56.0057987!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6789115c9b72405c!2sKirk%20of%20the%20Holy%20Rood!5e0!3m2!1sen!2suk!4v1619014384461!5m2!1sen!2suk" 
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>    
       </div>
    </div>
    
</div>

{% block extra_js %}    
 
    
{% endblock %}
{% endblock %}

{% block postloadjs %}

   
{% endblock %}