{% extends "base.html" %}
{% load static %}
{% block page_header %}
    <div class="container header-container">
        
    </div>
{% endblock %}

{% block content %}   
<div class="container">
    <div class="row">            
        <div class="col-sm-12">
            {% if messages %}
        
                <div class="message-container">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mt-5" >Events Payment html</h1>
        </div>
      
    </div>
  
    <div class="row">     
        <div class="col-md-6"> 
            <form method="POST">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Contact Details</legend>
                    {{ payment_form.full_name | as_crispy_field }}
                    {{ payment_form.email | as_crispy_field }}
                    {{ payment_form.phone_number | as_crispy_field }}
                    <small class="m-3" style="font-size:x-small;">Do you want to pay some donation for Church.</small>                  
                    {{ payment_form.donation_payment_amount | as_crispy_field }}
                    
                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                <legend class="fieldset-label small text-black px-2 w-auto">Ticket Details</legend> 
                    <div class="row">
                        Event Name: {{event.event_name}}
                    </div>                
                    <div class="input-group">
                        <div class="form-check">
                            {% for event_date in event.event_dates %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="event_date" value="{{event_date.date}}" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    {{event_date.date}}
                                </label>
                            </div>
                            {% endfor %}
                        </div>                    
                        <div class="input-group">
                            <label for="" class="m-1">Ticket Qty</label>
                            {{ ticket_payment_form.event_ticket_qty | as_crispy_field }}
                            <span class="input-group-text">£</span>
                            <span class="input-group-text">{{ event.event_price }}</span>
                        </div>
                    </div>
                </fieldset>
                    <button type="submit" class="btn btn-primary mt-1">Submit</button>
                </form>
        </div>  
    </div>
</div>



{% endblock %}

{% block postloadjs %}

   
{% endblock %}