{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row"> 
        <div class="col-sm-12">
            <div class="card text-center">
                <div class="card-header" {% include 'includes/theme.html' %}></div>
                    <h1 class="text-uppercase bg-dark mb-0" {% include 'includes/secondary_theme.html' %}>
                        <strong>Event Booking</strong>
                    </h1>
                <div class="card-header" {% include 'includes/theme.html' %}></div>
            </div>                    
        </div>
    </div>
</div>
{% endblock %}

{% block content %}   

<div class="container">
   <hr> 
   <div class="row">
            <div class="col-sm-9">
                <h5>
                    <i class="fas fa-snowflake p-1" {% include 'includes/theme.html' %}></i> Event: {{event.event_name}}
                </h5>
                <h5>
                    <i class="fas fa-calendar-day p-1" {% include 'includes/theme.html' %}></i> Date: {{ event_date.date }}
                </h5>
            </div>
            <div class="col-sm-3 m-auto">
                <h5>
                <i class="fas fa-credit-card p-1" {% include 'includes/theme.html' %}></i> 
                    TOTAL AMOUNT = <span class="fs-5 mt-3 fw-bolder" id="totalAmount">£{{ event.event_price }}</span>
                </h5>   
            </div>
    </div>
    <hr>
    <div class="row mt-5">
        <h2>BOOKING FOR AN EVENT:</h2> <hr>
        </div>     
        <div class="col-sm-12"> 
            <form  method="POST">
                {% csrf_token %}
                    <label class="ms-2" for=""><i class="fas fa-user p-1" {% include 'includes/theme.html' %}></i> FULL NAME</label>
                    {{ payment_form.full_name | as_crispy_field }}
                    <label class="ms-2" for=""><i class="fas fa-envelope-square p-1" {% include 'includes/theme.html' %}></i> EMAIL</label>
                    {{ payment_form.email | as_crispy_field }}
                    <label class="ms-2" for=""><i class="fas fa-phone-volume p-1" {% include 'includes/theme.html' %}></i> PHONE NUMBER</label>
                    {{ payment_form.phone_number | as_crispy_field }}
                    <div id="div_id_donation_payment_amount" class="form-group">                
                        <label class="ms-2" for=""><i class="fas fa-gift p-1" {% include 'includes/theme.html' %}></i>
                            DONATION PAYMENT AMOUNT
                        </label>
                        <div class="">
                            <input type="number" name="donation_payment_amount" value="0" step="1" min="0" placeholder="donation_payment_amount *"
                            class="border-black m-1 numberinput form-control" required="" id="id_donation_payment_amount"
                            onchange="updatePrice({{ event.event_price }})"
                            >
                        </div>
                    </div>
                    <small class="m-3" style="font-size:x-small;">Do you want to pay some donation for Church.</small>  
                    <div class="input-group">
                        <label class="ms-2" for="">
                            <i class="fas fa-ticket-alt p-1" {% include 'includes/theme.html' %}></i>
                            TICKET QUANTITY AND PRICE
                        </label>
                        <div class="form-check">                        
                            <div class="form-check">
                                <input type="hidden" name="event_date_id" value="{{ event_date.id }}">
                                <input class="form-check-input" type="hidden" name="event_date" value="{{ event_date.date }}" checked>                            
                            </div>                        
                        </div>                    
                        <div class="input-group">                        
                            <div class="">
                                <input type="number" name="event_ticket_qty" value="1" min="1" max="{{event_date.available_tickets}}" 
                                class="numberinput form-control w-100" required="" id="id_event_ticket_qty" onchange="updatePrice({{ event.event_price }})">
                            </div>
                            <span class="input-group-text">£</span>
                            <span id="price-span" class="input-group-text">{{ event.event_price }}</span>
                        </div>
                    </div>
                    <a href="{% url 'events' %}" class="btn btn-dark mt-4">CANCEL</a>
                    <button type="submit" class="btn mt-4"  {% include 'includes/theme.html' %}>BOOK EVENT</button>
            </form>
        </div> 
    </div>
   
</div>

<script>
    function updatePrice(price) {
        const event_qty = document.getElementById("id_event_ticket_qty");
        const event_price = document.getElementById("price-span");   
        const totalAmount = document.getElementById("totalAmount");   
        const donationAmount = document.getElementById("id_donation_payment_amount");
        const donation = Number(donationAmount.value)
        const new_price = (price * event_qty.value).toFixed(2);
        event_price.innerHTML = Number(new_price);
        totalAmount.innerHTML = (Number(new_price) + donation).toFixed(2);
        console.log(donation)
    }
</script>

{% endblock %}

{% block postloadjs %}

   
{% endblock %}