{% extends "base.html" %}
{% load static %}
{% block page_header %}
    
{% endblock %}

{% block content %}   
<div class="container">
    <div class="row">            
        
    </div>
</div>

{% include 'home/includes/hero-section.html' %}


{% include 'home/includes/carousel-section.html' %}

{% include 'home/includes/sunday-worships-section.html' %}
{% include 'home/includes/other-groups-section.html' %}

{% include 'home/includes/out-reach-section.html' %}
{% include 'home/includes/social-media-section.html' %}


{% include 'home/includes/footer-section.html' %}
{% include 'home/includes/modals.html' %}

{% endblock %}

{% block postloadjs %}

   
{% endblock %}