{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div style="height: 15vh;"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <h1 class="logo-font text-black">
                    Page2
                </h1>      
                   <button class="btn btn-sm primary-button" 
                    style="
                        background-color: {{ color.current_color_theme.primary_background_color_code }};
                        color: {{ color.current_color_theme.primary_foreground_color_code }};                    
                    ">
                        {{ color.current_color_theme.theme_name}}
                    </button>
                    <button class="btn btn-sm secondary-button">Cancel</button>          
            </div>
        </div>
    </div>
{% endblock %}