<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" {% include 'includes/theme.html' %} href="{% url 'home' %}" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" {% include 'includes/theme.html' %} href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
            </a>
            <div class="dropdown-menu" aria-labelledby="clothing-link">
                <a href="{% url 'services' %}" class="dropdown-item">Video Services</a>
                <a href="" class="dropdown-item">Sunday Services</a>
                <a href="" class="dropdown-item">Worship Services</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" {% include 'includes/theme.html' %} href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ministries
            </a>
            <div class="dropdown-menu" aria-labelledby="homeware-link">
                {% for ministry in ministries %}
                <a href="{% url 'ministry' ministry.id %}" class="dropdown-item">{{ ministry.ministry_heading }}</a>
                {% endfor %}  
                {% if request.user.is_superuser %}
                    <a href="{% url 'add_ministry' %}" class="dropdown-item">Add New ministry</a>                           
                {% endif %}              
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" {% include 'includes/theme.html' %} href="{% url 'events' %}" id="specials-link" aria-haspopup="true" aria-expanded="false">
                Events
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" {% include 'includes/theme.html' %} href="{% url 'payment' %}" aria-haspopup="true" aria-expanded="false">
                Donate-Us
            </a>
        </li>
      
    
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" {% include 'includes/theme.html' %} href="{% url 'notices' %}" aria-haspopup="true" aria-expanded="false">
                Notices
            </a>
        </li>
         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" {% include 'includes/theme.html' %} href="#" aria-haspopup="true" aria-expanded="false">
                About-Us
            </a>
        </li>
         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" {% include 'includes/theme.html' %} href="#" aria-haspopup="true" aria-expanded="false">
                Contact-US
            </a>
        </li>
    </ul>
</div>