{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
            <h2><i class="fas fa-file-invoice primary-icons"></i> {% trans "Change Password" %}</h2>
            <hr class="home-page-heading-hr-top">
            <p class="mt-2">{% trans 'Your password is now changed.' %}</p>
        </div>
    </div>
</div>  
{% endblock %}
