{% load static %}
{% load embed_video_tags %}
<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- There are CDN addded for differetn versions of bootstrap to use their features from versions. -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    
	<!-- Font Awsome URL !-->
    <script src="https://kit.fontawesome.com/60ca92335a.js" crossorigin="anonymous"></script>
    <!-- jQuery jquery-3.5.1.min.js !-->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
	</script>

	<!-- jQuery UI !-->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://js.stripe.com/v3/"></script>

    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Kirk of Holy Rood {% block extra_title %}{% endblock %}</title>  
  </head>
  <body>
    <header class="container-fluid fixed-top mb-5">
        <div class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-sm-12 col-md-12 col-lg-10">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">                    
                    <h4 class="logo-font text-black my-0">
                        <img src="/media/kirkcolour.png" alt="" height="70px">
                        <strong class="text-uppercase">Kirk Of the Holy Rood Church</strong>
                    </h4>                    
                </a>
            </div>
            {% if request.user.is_superuser %}
            <div class="col-sm-12 col-lg-2 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-palette"></i></div>
                                    <p class="my-0">Color Theme</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">       
                                <a href="" class="dropdown-item">Add New Color Theme</a>
                                <a class="dropdown-item">
                                    <form method="POST" class="p-0 m-0">
                                        {% csrf_token %}
                                        {{ color_theme_form | crispy}}                                   
                                        <button type="submit" class="btn btn-sm mt-1"
                                        {% include 'includes/theme.html' %}>
                                        Apply Theme
                                        </button>          
                                    </form>                            
                                </a>         
                            </div>
                        </li>
        
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">Admin Logged In</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">                           
                            <a href="{% url 'request_and_messages' %}" class="dropdown-item">Request messages</a>                           
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>                            
                        </div>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
        
        <div class="row" {% include 'includes/theme.html' %}>
            <nav class="navbar navbar-expand-lg navbar-light w-100 text-center p-2" >
                
                <button class="navbar-toggler m-2" type="button" 
                data-toggle="collapse" data-target="#main-nav" 
                aria-controls="main-nav" aria-expanded="false" 
                aria-label="Toggle navigation"
                style="width: 100%  !important;">
                    <h5 class="logo-font text-black text-right">
                        <strong class="text-uppercase">Kirk Of the Holy Rood Church</strong>
                    </h5> 
                    <span class="navbar-toggler-icon"></span>
                    
                </button>
                 
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
    </header>

    {% block page_header %}
    {% endblock %}

    <div class="mb-5"></div>
    
    {% block content %}
    {% endblock %}
<div class="row-centered text-center mt-3 mb-2">
    <hr>
    <div class="row-centered text-center mt-4 mb-2 h-100">
    <div class="col-sm-12 my-auto">
        <p class="text-center text-uppercase">Thanks for visiting our site.</p>
    </div>
</div>
    <p class="text-center text-uppercase">Kirk Of the Holy Rood Church <strong class="copy-rigth-sign">©</strong> 2020 copyright protected</p>
</div>
{% block postloadjs %}
  
{% endblock %}
    
  </body>
 




</html>