{% if request.user.is_superuser %}
    <!-- #####################################################ALL Modals are here -- ###################################################### -->
            <!-- Modal for hero parallax edit text -->
    <div class="modal fade" id="heroParallaxModal" tabindex="-1" aria-labelledby="heroParallaxModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="heroParallaxModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="hero-parallax-form" action="{% url 'home'  %}" method="POST">
                {% csrf_token %}
                {{form | crispy}}
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button form="hero-parallax-form" type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
    </div>
    <!-- Modal for carouselModal edit text -->
    <div class="modal fade" id="carouselModal" tabindex="-1" aria-labelledby="carouselModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="carouselModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="carousel-modal-form" action="{% url 'carousel_text_edit' carousel_text.id %}" method="POST">
                {% csrf_token %}
                {{ carousel_form | crispy}}               
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button form="carousel-modal-form" type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
    </div>
    <!-- Modal for add Inner carousel item Modal Add new Item -->
    <div class="modal fade" id="addCarouseItemModal" tabindex="-1" aria-labelledby="addCarouseItemModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCarouseItemModalLabel">Editing Carousel Inner Items</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addCarouseItemForm" action="{% url 'add_new_carousel' %}" method="POST" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{new_carousel_form | crispy}}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button form="addCarouseItemForm" type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for Outreach Parallax Modal Add new Item -->
    <div class="modal fade" id="secondParallaxEditModal" tabindex="-1" aria-labelledby="secondParallaxEditModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="secondParallaxEditModalLabel">Second Parallax Edit Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="second_parallax_edit" action="{% url 'parallax_edit' second_parallax_section.id %}" method="POST" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ second_parallax_form| crispy}}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button form="second_parallax_edit" type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for Sunday SErvice Modal Add new Item -->
    <div class="modal fade" id="sundayModal" tabindex="-1" aria-labelledby="sundayModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sundayModallLabel">Second Parallax Edit Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="sunday_parallax_form" action="{% url 'parallax_edit' sunday_services.id %}" method="POST" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ sunday_edit_form | crispy}}
                     
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button form="sunday_parallax_form" type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for Study Group Modal Add new Item -->
    <div class="modal fade" id="studyGroupModal" tabindex="-1" aria-labelledby="studyGroupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="studyGroupModalLabel">Study Group Edit Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="study_group_edit_form" action="{% url 'study_group_edit' %}" method="POST" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ group_title_edit_form| crispy}}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button form="study_group_edit_form" type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
     <!-- Modal for Alpha Group Modal edit text -->
    <div class="modal fade" id="alphaGroupModal" tabindex="-1" aria-labelledby="alphaGroupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alphaGroupModalLabel">Editing Carousel Inner Items</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="inner-{{item.id}}-carousel-form" action="{% url 'carousel_text_edit' alpha_study.id %}" method="POST" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ alpha_text_edit_form | crispy}}    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button form="inner-{{item.id}}-carousel-form" type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>
     <!-- Modal for Bible Study Modal edit text -->
    <div class="modal fade" id="bibleStudyGroupModal" tabindex="-1" aria-labelledby="bibleStudyGroupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bibleStudyGroupModalLabel">Editing Carousel Inner Items</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="bible-study-group-form" action="{% url 'carousel_text_edit' bible_study.id %}" method="POST" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ bible_study_text_edit_form | crispy}}    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button form="bible-study-group-form" type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>
    
{% endif %}
<!-- ##################################################### Modals End here -- ###################################################### -->