<section id="other-groups">
    <div class="container mt-5 mb-5 p-5" {% include 'includes/theme.html' %}>
        <div class="container mt-4 mb-4">
            <div class="row text-center mb-4 row justify-content-center">
                {% if request.user.is_superuser %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-sm w-25" {% include 'includes/secondary_theme.html' %} data-bs-toggle="modal" data-bs-target="#studyGroupModal">
                        Edit Text
                    </button>
                {% endif %}
                <h3 class="text-uppercase">{{ study_group_text.heading }}</h3>
                <p class="bolder text-white" style="padding-left: 20%; padding-right: 20%;">
                    {{ study_group_text.paragraph }}
                </p>
            </div>
            <div class="row text-center justify-content-center" style="display: flex; align-items: center;">
                <div class="col-sm-12 col-md-12 col-lg-6  mt-1 mb-1">
                    {% if request.user.is_superuser %}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-sm w-25 mb-2" {% include 'includes/secondary_theme.html' %} data-bs-toggle="modal" data-bs-target="#alphaGroupModal">
                            Edit Text
                        </button>
                    {% endif %}
                    <div class="card bg-dark text-white hovereffect">
                        <img src="/media/alpha_group.jpg" class="card-img img-responsive" alt="...">
                        <div class="overlay">
                            <h2 class="card-title text-white text-uppercase">{{ alpha_study.heading }}</h2>
                            <p class="card-text text-white d-none d-sm-none d-md-block">{{ alpha_study.paragraph }}</p>
                            <a class="info" href="{% url 'ministry' alpha_study.ministry.id  %}">{{ alpha_study.heading }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 mt-1 mb-1">
                     {% if request.user.is_superuser %}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-sm w-25 mb-2" {% include 'includes/secondary_theme.html' %} data-bs-toggle="modal" data-bs-target="#bibleStudyGroupModal">
                            Edit Text
                        </button>
                    {% endif %}
                    <div class="card bg-dark text-white hovereffect">
                        <img src="/media/Bible_study.jpg" class="card-img" alt="...">
                        <div class="card-img-overlay overlay">
                            <h5 class="card-title text-white text-uppercase">{{ bible_study.heading }}</h5>
                            <p class="card-text text-white d-none d-sm-none d-md-block">{{ bible_study.paragraph }}</p>
                            <a class="info" href="{% url 'ministry' alpha_study.ministry.id  %}">{{ bible_study.heading }}</a>
                        </div>
                    </div>
                </div>            
            </div>
            
        </div>
    </div>
</section>