<style>
    /* Social Link Section */
    .section-follow{
        
        height:40%; 
        padding:30px;
    }
    .section-follow .fa-4x {
        margin: 5px 10px;
        color: #F4FFFD;
        }
</style>
 <section id="find-me" class="section section-follow" {% include 'includes/theme.html' %}>
        <div class="container">
            <div class="row">
                <div class="col s12">
                
                    <h4>Kirk Of the Holy Rood church</h4>
                
                    <p>Please follow us on social media to know more about our activities!</p>
                    <hr class="general-hr" {% include 'includes/theme.html' %}>
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook fa-4x"></i></a>
                    <a href="https://twitter.com/"><i class="fab fa-twitter fa-4x"></i></a>
                    <a href="https://uk.linkedin.com/"><i class="fab fa-linkedin fa-4x"></i></a>
                    <a href="https://google.com/"><i class="fab fa-google-plus fa-4x"></i></a>
                    <a href="https://www.pinterest.co.uk/"><i class="fab fa-pinterest fa-4x"></i></a>
                </div>
            </div>
        </div>
    </section>