<section id="sunday-worship">
    <div class="container-fluid container-parallax sunday-service-parallax-img">
    <div class="opaque-overlay">&nbsp;</div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <section class="jumbotron text-center">  
                <div class="jumbotron-text-background">
                    <h3 class="hero-heading-wrap">
                        At the moment due to covid restrictions we are not meeting at the Church,
                        But are uploading our Sunday worship services which gets live at service time and then available for later viewing.
                    </h3>
                    <hr class="general-hr" {% include 'includes/theme.html' %}>
                    <p class="text-white">To know more or watch previous services please click below!</p>
                    <a href="" class="btn btn-dark">Click me</a>
                </div>
            </section>
        </div>
    </div>
</div>
</section-sunday-worship>