{% extends "base.html" %}
{% load static %}
{% block page_header %}
    <div class="container header-container">
        
    </div>
{% endblock %}

{% block content %}   
<div class="container">
    <div class="row">            
        <div class="col-sm-12">
            {% if messages %}
                <div style="height: 15vh;"></div>
                <div class="message-container">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: 150px;">
        <h3>Buying Ticket for {{ event.event_name }} </h3>
        <p>Event Date</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h6>Payment Form</h6>
            <form action="{% url 'ticket_payment' event.id %}" method="POST" id="payment-form">
                {% csrf_token %}
                {{ payment_form | crispy }}     
                {{ticket_payment_form | crispy }}
            </form>
            <button form="payment-form" class="btn btn-dark mt-2" type="submit">Submit data</button>
        </div>
    </div>
   
    
</div>

<script>
    
</script>

{% endblock %}

{% block postloadjs %}

   
{% endblock %}