{% extends "base.html" %}
{% load static %}
{% block page_header %}
   <div class="container" style="margin-top: 70px;">
    <div class="row"> 
        <div class="col-sm-12">
            <div class="card text-center">
                <div class="card-header" {% include 'includes/theme.html' %}></div>
                    <h1 class="text-uppercase mb-0" {% include 'includes/secondary_theme.html' %}>
                        <strong >Donations</strong>
                    </h1>
                <div class="card-header" {% include 'includes/theme.html' %}></div>
            </div>                    
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <h3>Donation Details</h3>
        </div>
        <div class="row mb-5">
            <hr>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12"> 
                        <img src="../../../media/thank-you.jpg" class="rounded float-end" alt="" style="height: 360px;">
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">                    
                    <div class="col-sm-4">
                        <h2 class="text-right float-end">                            
                            {{ payment.full_name }}
                            <hr class="mb-0">                     
                        </h2>
                        <p class="mb-0">                  
                            <span class="text-dark p-1 fs-6">
                                <strong>DATE & TIME:</strong><br>
                                {{ payment.date|slice:"0:16" }}
                                <hr class="m-0 mt-2">
                            </span>  
                        </p>                        
                        <p class="mt-0">
                            <strong class="lead  float-start">Donation Amount: £{{ payment.donation_payment_amount }}</strong>
                        </p>
                       
                        <p class="mt-0">             
                            <small class="float-start">{{ payment.email }}</small><br>
                            <small class="float-start">{{ payment.phone_number }}</small>
                        </p>                                       
                    </div>

                    <div class="col-sm-8 m-auto text-center bg-dark text-light p-2 mt-5">
                        <h6>Kirk of the Holy Rood Church kindly acccepts your donaiton!</h6>
                        <hr>                     
                        <strong>
                            We are going to use this donation sensibly
                        </strong><br>
                        <small>Please accepet our very special thanks.</small>
                        <hr>
                        <a href="{% url 'home'  %}" class="btn-sm btn" {% include 'includes/theme.html' %}>Go Back to Homepage</a>
                    </div>
                </div>
                
            </div>
            <hr class="mt-3">
        </div>
    </div>
    
    
{% endblock %}

{% block postloadjs %}

   
{% endblock %}
