{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'payment/css/payment.css' %}">
{% endblock %}
{% block page_header %}
    <div class="container header-container">
        
    </div>
{% endblock %}

{% block content %}   
<style>
    h1{
    font-size: 1.8rem;
    padding: 1rem 0;

}
</style>
<div class="container">
    <div class="row">            
        <div class="col-sm-12">
            {% if messages %}
                <div style="height: 15vh;"></div>
                <div class="message-container">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container" style="margin-top: 150px!important;">
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="card text-center">
                <div class="card-header" {% include 'includes/theme.html' %}></div>
                    <h1 class="text-uppercase bg-dark mb-0">
                        <strong class="text-white">Donations</strong>
                    </h1>
                <div class="card-header" {% include 'includes/theme.html' %}></div>
            </div>                    
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-muted">Please fill out the form below to make your payment</p>
            <form action="{% url 'payment'  %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Contact Details</legend>
                    {{ payment_form.full_name | as_crispy_field }}
                    {{ payment_form.email | as_crispy_field }}
                    {{ payment_form.phone_number | as_crispy_field }}
                </fieldset>
               
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Donation Amount</legend>
                    {{ payment_form.donation_payment_amount | as_crispy_field }}
                    <input type="hidden" id="donation_page" name="donation_page" value="True">
                </fieldset>              
                <fieldset class="rounded px-3 mb-5">
                    <div class="submit-button text-right mt-5 mb-2"> 
                        <button id="submit-button" class="btn rounded-0" {% include 'includes/theme.html' %}>
                            <span class="font-weight-bold">Your Details</span>
                        </button>
                    
                    </div>
                </fieldset>
                             
                
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
  
{% endblock %}

