{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'payment/css/payment.css' %}">
{% endblock %}
{% block page_header %}
    <div class="container header-container" style="margin-top: 70px;">
        <div class="row">
            <div class="col-sm-12">
            <div class="card text-center">
                <div class="card-header" {% include 'includes/theme.html' %}></div>
                    <h1 class="text-uppercase mb-0" {% include 'includes/secondary_theme.html' %}>
                        <strong >Donations</strong>
                    </h1>
                <div class="card-header" {% include 'includes/theme.html' %}></div>
            </div>                    
        </div>
        </div>
    </div>
{% endblock %}

{% block content %}   
<style>
    .title-page-section{
        background: url('../../../media/donationGift.jpg');
        height: 65vh;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items:flex-end;
        justify-content: center;
        position: relative;
        overflow: hidden;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    .text-bg{
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
                            }
</style>

<div class="container px-4 mt-3">
    <div class="row title-page-section mb-5">
        <div class="col-sm-12 text-bg">         
            <div class=" text-center">                                
                <div class="">
                    <h4 class=""><blockquote >Make A Donation</blockquote></h4><hr>
                    <p class="" style="padding-left: 10%; padding-right: 10%;">Help Us To Continue Our Work</p>                  
                </div>
                <div class="mb-3" style="padding-left: 30%; padding-right: 30%;">
                    <a href="#div_id_donation_payment_amount" class="btn btn-sm" {% include 'includes/theme.html' %}>
                        We will sensibly use your donations!
                    </a>        
                </div>
            </div>            
        </div>
    </div>
    <div class="row">
            <div class="col-sm-9">
            </div>
            <div class="col-sm-3 m-auto">
                <h5>
                <i class="fas fa-credit-card p-1" {% include 'includes/theme.html' %}></i> 
                    DONATION AMOUNT = <span>£</span><span class="fs-5 mt-3 fw-bolder" id="totalAmount">10</span>
                </h5>   
            </div>
    </div>
    <div class="row">
        <h2>PAYING DONATION TO CHURCH:</h2> 
        <hr {% include 'includes/hr_theme.html' %}>
        <div class="col-12 col-sm-12">
            <form action="{% url 'payment'  %}" method="POST" id="payment-form">
                {% csrf_token %}
                <label class="ms-2" for=""><i class="fas fa-user p-1" {% include 'includes/theme.html' %}></i> FULL NAME</label>
                {{ payment_form.full_name | as_crispy_field }}
                <label class="ms-2" for=""><i class="fas fa-envelope-square p-1" {% include 'includes/theme.html' %}></i> EMAIL</label>
                {{ payment_form.email | as_crispy_field }}
                <label class="ms-2" for=""><i class="fas fa-phone-volume p-1" {% include 'includes/theme.html' %}></i> PHONE NUMBER</label>
                {{ payment_form.phone_number | as_crispy_field }}
                <div id="div_id_donation_payment_amount" class="input-group">       
                    <div class="col-sm-12 mb-1">    
                    <label class="ms-2" for="">
                        <i class="fas fa-gift p-1" {% include 'includes/theme.html' %}></i>
                        DONATION PAYMENT AMOUNT
                    </label></div>     
                    <div class="">
                        <input type="number" name="donation_payment_amount" value="10" step="5" min="10" placeholder="donation_payment_amount *"
                        class="numberinput form-control" required="" id="id_donation_payment_amount"
                        onchange="updatePrice()">
                    </div>
                    <span class="input-group-text">£</span>
                    <span id="price-span" class="input-group-text">10</span>
                    
                </div>

                <input type="hidden" id="donation_page" name="donation_page" value="True">                
                <button id="submit-button" class="btn rounded-0 mt-3" {% include 'includes/theme.html' %}>
                    <span class="font-weight-bold">Donate</span>
                </button>           
                
            </form>
        </div>
    </div>
</div>
<script>
    function updatePrice(price) {
          
        const donationAmount = document.getElementById("id_donation_payment_amount");
        const totalAmount = document.getElementById("totalAmount");
        const event_price = document.getElementById("price-span");
        event_price.innerHTML = Number(donationAmount.value);
        const donation = Number(donationAmount.value);

        console.log(donation)
        
        totalAmount.innerHTML = donation;
        
    }
</script>
{% endblock %}

{% block postloadjs %}
  
{% endblock %}

