<div class="toast custom-toast rounded-0 border-top-0 ms-auto" role="alert" data-autohide="false" >
    <div class="arrow-up arrow-success m-1"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header" {% include 'includes/theme.html' %}>
        <!--<img src="..." class="rounded me-2" alt="...">-->
        <button type="button" class="mt-2 mb-1 p-1 close" data-dismiss="toast" aria-label="Close">
            <span class="m-1" aria-hidden="true">&times;</span>
        </button>
        <strong class="mr-auto p-1 m-1">Success!</strong>    
        
  </div>
  <div class="toast-body">
    {{ message }}
  </div>
</div>