{% extends "base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/video_style.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row"> 
        <div class="col-sm-12">
            <div class="card text-center">
                <div class="card-header" {% include 'includes/theme.html' %}></div>
                    <h1 class="text-uppercase mb-0" {% include 'includes/secondary_theme.html' %}>
                        {% if request.user.is_superuser %}
                            <div class="col m-2">   
                                <a href="{% url 'add_video' %}"class="btn m-1" d {% include 'includes/theme.html' %}>
                                <i class="fas fa-plus"></i>  Add A Video
                                </a>                             
                            </div>
                        {% endif %}
                        <strong>Video Services</strong>
                    </h1>
                <div class="card-header" {% include 'includes/theme.html' %}></div>
            </div>                    
        </div>
    </div>
</div>
{% endblock %}
{% block content %}  

<div class="container mt-1">   
    <div class="row mt-4">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center p-3 rounded" {% include 'includes/secondary_theme.html' %}>
            <h5 class="" {% include 'includes/secondary_theme.html' %}>SEARCH BY NAME OR DATE</h5> 
            <form method="GET" action="{% url 'all_videos' %}">
                <div class="input-group input-group-sm pb-4">
                    <input type="text" class="form-control" id="q" name="q" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    <button class="btn btn-sm" {% include 'includes/theme.html' %}>
                        <span class="input-group-text border-0" id="inputGroup-sizing-sm" {% include 'includes/theme.html' %}>                    
                            <i class="fas fa-search p-1"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div> 
    <div class="row">
        {% for item in page.object_list %}
           
        <div class="col-sm-4 mb-0 p-5">
             
            <div class="card border-0" {% include 'includes/secondary_theme.html' %}>
                {% if request.user.is_superuser %}
                    {% if item.pinned %}
                    <span {% include 'includes/theme.html' %}>
                        <small class=""><i class="mt-1 fas fa-thumbtack m-2"></i>This video is pinned to show as main video.</small>
                    </span>                  
                    {% else %}
                    <span {% include 'includes/theme.html' %}>                 
                        <a href="{% url 'pin_video' item.id %}" class="p-1 text-light" >
                            <small class="">
                                <i class="mt-1 fas fa-thumbtack m-2"></i>Pin this video to show as main video.
                            </small>
                        </a>
                    </span> 
                    {% endif %}
                        
                {% endif %}
                <img src="{{ item.video_image.url}}" class="card-img-top p-2" alt="..." style="height:200px !important;" >
                <div class="card-body">
                    <h5 class="card-title">
                        {{ item.title }}
                        {% if request.user.is_superuser %}
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="{% url 'edit_video' item.id  %}"  class="btn btn-sm btn btn-light">
                                    <small><i class="fas fa-user-edit"></i></small>
                                </a>
                                
                                {% if item.pinned %}
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delteEventModal" disabled>
                                        <small><i class="fas fa-trash-alt"></i></small>
                                    </button>  
                                    {% else %} 
                                    <!--Delete Modal trigger Button-->
                                     <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{ item.id }}Modal">
                                            <small><i class="fas fa-trash-alt"></i></small>
                                    </button> 
                                    <!-- Delete Modal -->
                                    <div class="modal fade" id="delete{{ item.id }}Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delete{{ item.id }}ModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-dark" id="delete{{ item.id }}ModalLabel">Deleting Video</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-dark">
                                            Are you sure you want to delete this video.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <a href="{% url 'del_video' item.id  %}" class="btn btn-danger">
                                                <small><i class="fas fa-trash-alt"></i></small>
                                            </a> 
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                {% endif %}                         
                            </div>
                        {% endif %}                          
                    </h5>
                    <p class="card-text">{{ item.main_paragraph }}</p>
                    <p class="card-text"><small class="">{{ item.date }}</small></p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'play_video' item.id %}" class="btn btn-sm" {% include 'includes/theme.html' %}> Watch this Video</a>
                </div>
            </div>
        </div>
         

        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page.has_previous %}
                <li class="page-item">
                    <a class="page-link" 
                    href="?page={{ page.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" 
                    
                    {% include 'includes/theme.html' %}>
                        <i class="fas fa-angle-double-left"></i>
                        Previous
                    </a>
                    
                </li>
                
            {% endif %}
           

            {% if page.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page.next_page_number }}{% if query %}&q={{ query }}{% endif %}" {% include 'includes/theme.html' %}>
                   Next <i class="fas fa-angle-double-right"></i>
                </a>                
            </li>
         
            {% endif %}
            <li class="page-item">
                <span class="current" >
                    <strong class="page-link" {% include 'includes/secondary_theme.html' %}>Page {{ page.number }} of {{ page.paginator.num_pages }}.</strong>
                </span>
            </li>
            {% if query %}
            <li class="page-item">
                <span class="current" >
                    <a href="{% url 'all_videos' %}" class="page-link btn" {% include 'includes/secondary_theme.html' %}>View All Videos</a>
                </span>
            </li>
            {% endif %}
        </ul>
    </nav> 
</div>

{% endblock %}

{% block postloadjs %}

   
{% endblock %}