{% extends "base.html" %}

{% block extra_css %}

{% endblock %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row"> 
            <div class="col-sm-12">
                <div class="card text-center">
                    <div class="card-header" {% include 'includes/theme.html' %}></div>
                        <h1 class="text-uppercase mb-0" {% include 'includes/secondary_theme.html' %}>
                            <strong>Event Booking</strong>
                        </h1>
                    <div class="card-header" {% include 'includes/theme.html' %}></div>
                </div>                    
            </div>
        </div>        
    </div>
{% endblock %}

{% block content %}  
<div class="container" style="height:100%;"> 
    <div class="row">      
       <div class="col-sm-12">
           <h3>
                EDITING SUNDAY SERVICE
                <hr {% include 'includes/hr_theme.html' %}>
            </h3>   
        </div>
        <div class="col-sm-12">
            <form id="update{{service.id}}ServiceInfomration" method="POST">
                {% csrf_token %}
                {{form | crispy}}
            </form>
        </div>
        <div class="col-sm-12 mt-3">
            <a href="{% url 'sunday_services' %}" type="button" class="btn btn-dark">Cancel</a>
            <button form="update{{service.id}}ServiceInfomration" type="submit" class="btn" {% include 'includes/theme.html' %}>Save changes</button>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}

   
{% endblock %}