{% extends "base.html" %}

{% block extra_css %}

{% endblock %}
{% load static %}

{% block page_header %}
<div class="container header-container" style="margin-top: 70px;">
    <div class="row"> 
        <div class="col-sm-12">
            <div class="card text-center">
                <div class="card-header" {% include 'includes/theme.html' %}></div>
                    <h1 class="text-uppercase mb-0" {% include 'includes/secondary_theme.html' %}>
                        <strong>Sunday Services</strong>
                        {% if request.user.is_superuser %}
                            <div class="col m-2">
                                <form></form>
                                <a href="{% url 'sunday_service_booking' service_id %}"class="btn m-1" d {% include 'includes/theme.html' %}>
                                <i class="fas fa-plus"></i>  UPDATE BOOKINGS TAKEN MANUALLY
                                </a>                             
                            </div>
                        {% endif %}
                    </h1>
                <div class="card-header" {% include 'includes/theme.html' %}></div>
            </div>                    
        </div>
    </div>
</div>
{% endblock %}

{% block content %}  
<div class="container mt-1" style="height:80vh;"> 
    <div class="row">
        {% if services %}
            {% for service in services %}
                <div class="col-sm-12">                        
                    <div class="jumbotron text-light p-3 rounded"{% include 'includes/secondary_theme.html' %}>
                    {% if request.user.is_superuser %}
                        <div class="col-sm-4 m-1">
                            <!-- Update Service Information trigger modal Button  -->
                            <a type="button" href="{% url 'edit_sunday_services' service.id %}" class="btn btn-sm" {% include 'includes/theme.html' %}>
                                Edit Service Information
                            </a>
                        </div>  
                    {% endif %}
                            <h6 style="float: right;">{{ service.date }}</h6>
                            <br>
                            <h3 class="text-uppercase">{{service.title}}</h3>
                            <h3 class="m-1">{{service.preacher_name}}</h3>
                            <h4 class="m-1">{{service.sermon_title}}</h4>
                            <p class="lead m-1">{{service.bible_refrence}}</p>
                            <hr class="my-4">
                            <p class="m-1">{{service.worship_hymm1}}</p>
                            <p class="m-1">{{service.worship_hymm2}}</p>
                            <p class="m-1">{{service.worship_hymm3}}</p>
                            <p class="m-1">{{service.worship_hymm4}}</p>
                            <hr class="my-4">
                            <p class="m-1"><strong>{{service.important_notices}}</strong></p>
                            <p class="m-1">Remaining available bookings:<strong> {{service.available_bookings}}</strong></p>
                            {% if service.available_bookings <= 0 %}
                                <button  class="btn btn-sm btn-danger" disabled>
                                    SORRY NO MORE BOOKIND AVAILABLE
                                </button>
                            {% else %}
                            <a class="btn btn-light btn-sm" type="" href="{% url 'sunday_service_booking' service.id %}" 
                                role="button" {% include 'includes/theme.html' %}>
                                REQUEST TO ATTEND CHURCH IN PERSON
                            </a>
                                {% if request.user.is_superuser %}
                                <a class="btn btn-light btn-sm" type="" href="{% url 'sunday_bookings' %}" 
                                    role="button" {% include 'includes/theme.html' %}>
                                    VIEW BOOKINGS FOR SUNDAY
                                </a>
                                </div>
                                {% endif %}
                            {% endif %}
                           
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="update{{service.id}}ServiceInfomrationModal" tabindex="-1" aria-labelledby="update{{service.id}}ServiceInfomrationModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="update{{service.id}}ServiceInfomrationModalLabel">Update Service Information</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="update{{service.id}}ServiceInfomration" method="POST">
                                {% csrf_token %}
                                {{form | crispy}}
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button form="update{{service.id}}ServiceInfomration" type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                        </div>
                    </div>
                    </div>
            {% endfor %}
        {% else %}
            <p class="lead">At the moment there is no service to update</p>
        {% endif %}
    </div> 
 </div>

{% endblock %}

{% block postloadjs %}

   
{% endblock %}