{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container" style="margin-top: 70px;">
    <div class="row"> 
        <div class="col-sm-12">
            <div class="card text-center">
                <div class="card-header" {% include 'includes/theme.html' %}></div>
                    <h1 class="text-uppercase mb-0" {% include 'includes/secondary_theme.html' %}>
                        <strong>SUNDAY SERVICE</strong>
                        {% if request.user.is_superuser %}
                            <div class="col m-2">   
                                <a href="{% url 'sunday_service_booking' service_id %}"class="btn m-1" {% include 'includes/theme.html' %}>
                                <i class="fas fa-plus"></i>  UPDATE BOOKINGS TAKEN MANUALLY
                                </a>                             
                            </div>
                        {% endif %}
                    </h1>
                    
                <div class="card-header" {% include 'includes/theme.html' %}></div>
            </div>                    
        </div>
    </div>
</div>
{% endblock %}

{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h2 class="logo-font text-dark">Sunday Bookings</h2>                      
            <hr>
        </div>            
    </div>
    
    <div class="row table-responsive">
        
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Service Title</th>
                    <th scope="col">Number of Bookings</th>
                    <th scope="col">Buttons</th>
                    <th scope="col"></th>
                          
                </tr>
            </thead>
             <thead>
                <tr> 
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"><a href="" class="btn bt-sm btn-danger">Del All</a></th>
                             
                </tr>
            </thead>
            <tbody>
                {% for booking in sunday_service_bookings %}
                <tr>        
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ booking.full_name}}</td>
                <td>{{ booking.phone_number }}</td>
                <td>{{ booking.email }}</td>
                <td>{{ booking.service_title }}</td>
                <td>{{ booking.number_of_bookings }}</td>
                 <td></td>
                <td>
                    <a href="" class="btn btn-small btn-dark">Edit</a>
                    <a href="" class="btn btn-small btn-dark">Del</a>
                </td>     
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>         
</div>
{% endblock %}

{% block postloadjs %}

   
{% endblock %}